@import "/src/styles/colors";

.weatherBox {
  background: rgba(72, 49, 157, 0.8);
  height: 200px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid $body-color;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px 0px rgba(255, 255, 255, 0.25);
  .description {
    text-transform: capitalize;
  }
  .icon {
    svg {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
  .degre {
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  .weatherBox {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 2fr 2fr;
    .icon {
      align-self: center;
    }
    .descriptionBox,
    .temperatureBox {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding-right: 15px;
    }
  }
}
@media (max-width: 436px) {
  .weatherBox {
    .descriptionBox,
    .temperatureBox {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
  }
}
