@import '/src/styles/colors';

.App {
  text-align: center;
  width: 100%;
  justify-content: center;
  // background-color:  #312B5B;
  min-height: 100%;
  color: #fff;
  margin-bottom: 2em;
  // position: relative;
  &:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(196, 113, 216, .1);
    z-index: 1;
  }
  .mainWrapper{
    margin: 0 auto;
    padding: 0 15px 0 15px ;
    max-width: 1200px;
    // min-height: 100%;
    display: grid;
    grid-template: 1fr/ 1fr;
    .weather__container{
      // border: 1px solid $body_color;
    
    }
    .daily__container{
      width: 100%;
      overflow: hidden;
    }
  }
}