@import "/src/styles/colors";

.container {
  font-family: "Source Sans Pro";

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .itemContainer {
      margin: 2em;
      display: grid;
      // grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-columns: repeat(8, 1fr);
      align-content: center;
      gap: 10px;
      padding: 5px;

    }
    .wtWrapper {
      
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
      
      .wtItem {
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        padding: 15px;
        display: grid;
        align-items: center;
        
        .title {
          text-transform: capitalize;
          font-size: 22px;
          font-weight: 300;
          padding: 1em 0;
        }
       
      }
      
    }
  }
}
@media (max-width:1024px ) {
  .container{
    .wrapper{
      .itemContainer{
        grid-template: 1fr/1fr;
        margin: 0;
        padding: 0;
        margin-top: 1em;
      }
      .wtWrapper{
        grid-template: repeat(3, 1fr) /repeat(2,1fr);
        
        .wtItem{
          padding: 10px;
          .title{
            padding: 0;
          }
        }
      }
    }
  }
  
}
