@import "/src/styles/colors";
@import "/src/styles/mixins";

.container {
  font-family: "Source Sans Pro";

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .itemContainer {
      margin: 2em;
      display: grid;
      // grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-columns: repeat(8, 1fr);
      align-content: center;
      gap: 10px;
      padding: 5px;
    }
    .wtWrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;

      .wtItem {
        color: #fff;
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 15px;
        padding: 15px;
        display: grid;
        align-items: center;
        outline: none;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(49, 43, 91, 0.9);
          border-radius: 15px;
        }

        @include button-hover(#48319d);

        &:hover > .title {
          color: #ccc;
        }

        .title {
          text-transform: capitalize;
          font-size: 22px;
          font-weight: 300;
          padding: 1em 0;
          z-index: 9;
        }
      }
      .activeItem {
        background-color: #48319d;
        color: #ccc;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
@media (max-width: 1024px) {
  .container {
    .wrapper {
      .itemContainer {
        grid-template: 1fr/1fr;
        margin: 0;
        padding: 0;
        margin-top: 1em;
      }
      .wtWrapper {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);

        .wtItem {
          padding: 10px;
          .title {
            padding: 0;
          }
        }
      }
    }
  }
}
